/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    
    background-image: url('./assets/web-site-background-7.jpg');
    height: 100%
}

.tudo {
    min-height: 100%;
}

* html .tudo {
	height: 100%; /* hack para IE6 que trata height como min-height */
	}

/* Por falta de tempo, criei um footer integrado sem componentizar, mas funciona normalmente. */

.footer {
    color: #eeeeee;
	position: absolute;
	bottom: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: #24252A;
    text-align: center;
    padding: 8px;   
    width: 100%;
    font-family: "Montserrat";    
	}

    .footer a {
        transition: all 0.3s ease 0s;
        text-decoration: none;
        color: #eeeeee;
    }
    .footer a:hover {
        text-decoration: none;
        color: rgba(0,136,169,1);
    }

    @media (min-width: 500px) and (max-width: 840px) {
    
    
}